.App {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(74, 218, 228) 0%,
    rgb(64, 114, 171) 100%
  );
  font-family: 'Arial';
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1 {
  font-family: sans-serif;
}
.TextError {
  color: rgb(234, 32, 42);
  font-size: 14px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Pass {
  width: 400px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px #000;
}
.Ema {
  width: 400px;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 3px #000;
}
.Reg {
  width: 424px;
  padding: 10px;
  margin: 10px;
  background: rgb(236, 131, 66);
  color: #000;
  font-size: 17px;
  box-shadow: 3px 3px 5px #000;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Form {
  background-color: rgba(214, 229, 244, 0.835);
  padding: 30px;
  margin: 20px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #000;
}
.App-link {
  color: #5ccbea;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
